@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JobMatch</h1>
    <img src="https://www.jobspikr.com/wp-content/uploads/2020/01/shutterstock_1808087533-scaled-1.jpg" height="100%" width="100%" />
</div>
